* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    max-width: 1366px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

nav .logo {
    flex: 1;
    display: flex;
}

.logo img {
    margin: auto;
}

nav ul {
    display: flex;
    transition: 1s ease;
    flex: 5;
}

nav ul li {
    /* height: 70px;
    padding: 0 30px; */
    list-style: none;
    box-sizing: border-box;
    display: flex;
}

nav ul li a {
    line-height: 70px;
    height: 70px;
    padding: 0 20px;
    text-decoration: none;
    color: #e9e1cc;
    transition: 0.7s ease;
}

nav ul li a img {
    margin-top: 20px;
}

nav .signin a {
    border: 3px solid #e9e1cc;
    padding: 10px 35px;
    margin-right: 10px;
    background-color: none;
    color: #e9e1cc;
    text-decoration: none;
    line-height: 70px;
    border-radius: 5px;
}

nav button {
    width: 35px;
    height: 35px;
    border: none;
    margin-right: 10px;
    background-color: rgb(234, 0, 41);
    color: #212121;
    display: none;
    border-radius: 5px;
}

.layout {
    width: 80%;
    height: 600px;
    margin: 30px auto;
    display: flex;
    box-sizing: border-box;
    /* border: 2px solid tomato; */
}

.layout .col-img {
    flex: 2;
    display: flex;
}

.col-img .thumb {
    margin: auto;
}

.col-img .thumb img {
    max-height: 500px;
}

.layout .col-content {
    flex: 1;
    display: flex;
}

.col-content .desc {
    margin: auto;
    color: white;
}

.col-content .desc h1 {
    font-size: 22px;
    font-weight: 400;
}

.col-content .desc p {
    margin-top: 15px;
    font-size: 16px;
}

.col-content .desc a {
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    background-color: #FECE26;
    padding: 10px 25px;
    border-radius: 5px;
    color: #212121;
    font-weight: 600;
}

.plus {
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.plus .col {
    height: 50px;
    display: flex;
    align-items: center;
}

.plus .col img {
    width: 30px;
    margin: 10px;
}

.plus .col p {
    display: inline-block;
    font-size: 14px;
}

@media (max-width: 1024px) {
    nav ul li a {
        padding: 0 10px;
    }

    .layout {
        height: 500px;
    }

    .layout,
    .plus {
        width: 90%;
    }

    .col-img .thumb img {
        max-height: 300px;
    }
}

@media (max-width: 768px) {
    nav {
        background-color: rgb(32, 32, 32);
    }

    nav ul {
        width: 100%;
        height: calc(100vh - 70px);
        display: inline;
        position: absolute;
        top: 70px;
        left: -100%;
        background-color: rgb(32, 32, 32);
    }

    nav ul.toogle {
        left: 0;
    }

    nav ul li {
        width: 100%;
        display: flex;
    }

    nav ul li a {
        line-height: 70px;
        height: 70px;
        text-align: center;
        flex: 1;
    }

    nav .signin {
        display: none;
    }

    nav button {
        display: block;
    }

    .col-img .thumb img {
        max-height: 200px;
    }
}

@media (max-width: 425px) {
    .layout {
        width: 100%;
        height: auto;
        display: block;
        flex-wrap: wrap;
    }

    .col-content {
        margin-top: 40px;
    }

    .col-content .desc {
        width: 80%;
    }

    .col-content .desc img {
        width: 100%;
    }

    .plus {
        margin: 40px auto;
        width: 80%;
        display: block;
        height: auto;
    }

    .plus .col {
        width: 100%;
        height: 50px;
        align-items: center;
    }
}
